<nav class = "navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto">BlockChain Polls</a>
  <button
  type="button"
  class="btn btn-secondary"
  (click) = "showForm = !showForm"
  >
    Create Poll
  </button>
</nav>

<section class="jumbotron bg-light text-center">

  <h1>Polls Rethinked</h1>
  <p class="lead text-muted">
    Powered by Blockchain
  </p>
</section>

<app-poll-create *ngIf="showForm"> </app-poll-create>

<div class="d-flex">
<div class="container poll-list">
  <app-poll
  *ngFor="let poll of polls"
  [question] = "poll.question"
  [voted] = "poll.voted"
  [votes] = "poll.votes"
  [pollImage] = "poll.image"
  ></app-poll>
</div>


<div class="container poll-detail">
  <app-poll-vote></app-poll-vote>
</div>
</div>
